<p>Event in details </p>

<ul>
      <p><%= @event.event_name %></p>
      <p><%= @event.event_date %></p>
      <p>created by: <%= @event.user.first_name %> <%= " "%><%= @event.user.last_name %></p>
      <%= button_to 'Attend', attended_events_path(id: @event)%>

      
</ul>