<p>Event in details </p>

<ul>
      <li><%= @event.event_name %></li>
      <p><%= @event.event_date %></p>
      <p>created by: <%= @event.user.first_name %> <%= " "%><%= @event.user.last_name %></p>
</ul>